<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @track.trip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @track.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @track.longitude %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @track.accuracy %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
