<div class="page-header">
  <i class="fa fa-users page-header-icon"></i>
  <h1>Funcionários</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Register</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.company_id %></td>
        <td><%= employee.register %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
