<div class="page-header">
  <i class="fa fa-users page-header-icon"></i>
  <h1>Funcionário</h1>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @employee.company_id %>
</p>

<p>
  <strong>Register:</strong>
  <%= @employee.register %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
