<h1>Listing checkpoints</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Geo coordinate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.label %></td>
        <td><%= checkpoint.geo_coordinate %></td>
        <td><%= link_to 'Show', checkpoint %></td>
        <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
        <td><%= link_to 'Destroy', checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkpoint', new_checkpoint_path %>
