<%= simple_form_for @route, input_html: { class: 'panel form-horizontal' },defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } }  do |f| %>
  <div class="panel-heading">
    <span class="panel-title">Rota</span>
  </div>
  <div class="panel-body">
	  <%= f.error_notification %>
	  <%= f.input :label, label_html: { class: 'col-sm-2' }%>
	  <%= render "checkpoints/index" %>
	<div class="form-group" style="margin-bottom: 0;">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.button :submit, input_html: {class: "btn btn-primary" } %>
		</div>
	</div>
  </div>
<% end %>
