<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :initial_checkpoint_id %><br>
    <%= f.number_field :initial_checkpoint_id %>
  </div>
  <div class="field">
    <%= f.label :final_checkpoint_id %><br>
    <%= f.number_field :final_checkpoint_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
