<div class="page-header">
  <i class="fa fa-road page-header-icon"></i>
  <h1>Listando Rotas</h1>
</div>
<div class="form-group-margin">
  <%= link_to 'Nova Rota', new_route_path, class: 'btn btn-labeled btn-primary' %>
</div>
<div class="row">
<% @routes.each do |route| %>

      <%= link_to edit_route_path(route) do %>
        <div class="col-md-6">
            <div class="stat-panel">
              <!-- Danger background, vertically centered text -->
              <div class="stat-cell bg-info valign-middle">

                <!-- Stat panel bg icon -->
                <i class="fa fa-bus bg-icon"></i>
                <!-- Extra large text -->
                <span class="text-xlg"><strong><%= route.label %></strong></span><br>
                <!-- Big text -->
                <table>
                  <tr>
                    <td align="right"><span class="text-bg"><strong>Inicio:</strong></span></td>
                    <td><span class="text-bg"><%= if route.initial_checkpoint then route.initial_checkpoint.label end %></span></td>
                  </tr>
                  <tr>
                    <td align="right"><span class="text-bg"><strong>Fim:</strong></span></td>
                    <td><span class="text-bg"><%= if route.final_checkpoint then route.final_checkpoint.label end %></span></td>
                  </tr>
                </table>
              </div> <!-- /.stat-cell -->
            </div> <!-- /.stat-panel -->
        </div>
      <% end #link_to %>

    <% end #each %>
</div>

<% content_for :javascript do %>
  <script>
  //   var equalHeight = function(group) {
  //     tallest = 0;
  //     group.each(function() {
  //       thisHeight = $(this).height();
  //       if(thisHeight > tallest) {
  //          tallest = thisHeight;
  //       }
  //     });
  //     group.height(tallest);
  //   }
  //   init.push(function () {
  //     equalHeight($(".stat-panel"));
  //   });
  </script>
<% end %>
