<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @vehicle.public_identifier %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @vehicle.company %>
</p>

<%= link_to 'Editar', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Voltar', vehicles_path %>
