<!-- 4. $MAIN_MENU =================================================================================

		Main menu

		Notes:
		* to make the menu item active, add a class 'active' to the <li>
		  example: <li class="active">...</li>
		* multilevel submenu example:
			<li class="mm-dropdown">
			  <a href="#"><span class="mm-text">Submenu item text 1</span></a>
			  <ul>
				<li>...</li>
				<li class="mm-dropdown">
				  <a href="#"><span class="mm-text">Submenu item text 2</span></a>
				  <ul>
					<li>...</li>
					...
				  </ul>
				</li>
				...
			  </ul>
			</li>
-->
	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div class="menu-content top" id="menu-content-demo">
				<div>
					<div class="text-bg"><span class="text-slim">Bem Vindo,<br></span> <span class="text-semibold"><%= current_user.name %></span></div>

					<%= image_tag "pixel-admin/avatar.png" %>
					<!-- <div class="btn-group">
					</div> -->
					<a href="#" class="close">&times;</a>
				</div>
			</div>
			<ul class="navigation">
				<li>
					<a href="#"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Dashboard</span></a>
				</li>
				<li>
					<%= link_to maps_path do %>
						<i class="menu-icon fa fa-map-marker"></i><span class="mm-text">Mapa de Viagens</span>
					<%end %>
				</li>
				<li>
					<%= link_to vehicles_path do %>
						<i class="menu-icon fa fa-bus"></i><span class="mm-text">Veículos</span>
					<%end %>
				</li>
				<li>
					<%= link_to routes_path do %>
						<i class="menu-icon fa fa-road"></i><span class="mm-text">Rotas</span>
					<%end %>
				</li>
				<li>
					<a href="#"><i class="menu-icon fa fa-users"></i><span class="mm-text">Funcionários</span></a>
				</li>
				<li>
					<a href="#"><i class="menu-icon fa fa-mobile"></i><span class="mm-text">Aplicativo</span></a>
				</li>
			</ul> <!-- / .navigation -->
			<div class="menu-content">
				<a href="pages-invoice.html" class="btn btn-primary btn-block btn-outline dark">Indicar Amigo</a>
			</div>
		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->